<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="successFolder" value="Success"/>
    <add key="failedFolder" value="Failed"/>
    <add key="splitSymbol" value="d0"/>
    <add key="startCharacter" value="#"/>
    <add key="splitCharacters" value="()"/>
  </appSettings>
</configuration>